<div class="container">
  <h1><%= @place["name"] %></h1>
</div>

<div class="container">
  <% if User.find_by({"id" => session["user_id"]}) != nil %>
    <h3>My Entries</h3>

    <div class= "row">
      <% for entry in @entries %>
        <div class="col-md-4">
          <h4 class="mt-5"><%= entry["title"] %></h4>
          <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
          <p><%= entry["occurred_on"] %></p>
          <p><%= entry["description"] %></p>
        </div>
      <% end %>
    </div>
      

    <div class="mb-6">
      <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-secondary">New Entry</a>
    </div>
  
  <% else %>
    <div>
     please log in first!
    </div>
  <% end %>
    
  <div class="mb-6 mt-4">
    <a href="/places" class="btn btn-secondary">Back to All Places</a>
  </div>
 </div>